.products {
display: flex;
flex-wrap: wrap;
gap: 45px;
justify-content: center;
max-width: 1200px;
margin: 0 auto;
}

.products__item {
width: 340px;
padding: 25px;
height: 573px;
background: #F7F7FA;
display: flex;
flex-direction: column;
justify-content: flex-start;
}